<ul>
    {{#entries}}
        <li>
            <ul>
                <li>entry: {{ guestbookEntryField }}</li>
                <li>title: {{ title }}</li>
                <li>content: {{ content }}</li>
                <li>pub: {{ published }}</li>
            </ul>
        </li>
    {{/entries}}
</ul>