<head>
    {{>header}}
</head>

<h1>{{ title }}</h1>

{{#entries}}
    <div class="panel panel-default">
          <div class="panel-heading">
              {{subject}}
          </div>
          <div class="panel-body">
              {{review}}
          </div>
     </div>
{{/entries}}